.game {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  width: 100%;
  background-color: black;
}

img {
  width: 100%;
}


.leaves {
  width: 100%;
  max-width: 1920px;
  height: 1240px;
  background-image: url('./images/background-leaves.jpg');
  padding-top: 15px;
  margin: 0px auto;
}

.title {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px 0px 50px 0px;
}

.memory {
  font-size: 64px;
  color: yellow;
  text-align: center;
  text-shadow: 0px 0px 20px yellow;
}

.insects {
  color: rgb(2, 255, 242);
  font-size: 32px;
  text-align: center;
  text-shadow: 0px 0px 20px rgb(2, 255, 242);
  margin-bottom: 0px;
}

.butterfly {
  width: 270px;
  margin: 0px auto;
}

.start-button {
  border-width: 0px;
  background-color: yellow;
  color: rgb(2, 19, 12);
  display: block;
  margin: 0px auto;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  padding: 8px;
  width: 150px;

}

footer {
  background-color: rgb(1, 9, 19);
  height: 130px;
  position: relative;
}

.links-button {
  border: 1px solid rgb(2, 255, 242);
  background-color: rgb(1, 9, 19);
  color: rgb(2, 255, 242);
  position: absolute;
  right: 10px;
  bottom: 10px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;

}

.links-box {
  font-size: 15px;
  border: 1px solid rgb(2, 255, 242);
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  width: 60%;
  position: absolute;
  bottom: 10px;
  left: 10px;
  padding: 8px;
}

.links-box p {
  margin: 0px;
  color: rgb(2, 255, 242);
}

.links-box a {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-decoration: none;
  color: rgb(2, 255, 242);
}

.hidden {
  height: 0px;
  overflow: hidden;
}

.hide {
  overflow: hidden;
  animation: game 0.4s linear 0s 1 normal forwards;
  
}



@keyframes game {
  0% {
    height: 556px;
  }
  100% {
    height: 0px;
  }
}

.show {
 visibility: hidden;
 background-color: rgba(0, 0, 0, 0.7);
 padding: 20px 0px 0px 0px;
 width: 100%;
 animation: start-game 0.9s linear 0.4s 1 normal forwards;
  
}

@keyframes start-game {
  0% {
    visibility: visible;
    height: 0px;
   
  }
  100% {
    visibility: visible;
    height: 1100px;
  }
  
}

.result {
  font-size: 20px;
  font-weight: bold;
  color: rgb(2, 255, 242);
  border: 2px solid rgb(2, 255, 242);
  border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    width: 80%;
    padding: 10px;
    text-align: center;
    margin: 0px auto 40px auto;
}

.gameboard {
  width: 270px;
  margin: 0px auto 47px auto;
  overflow: auto;
}

.card {
  float: left;
  padding: 0px !important;
  margin: 5px;
  border-width: 0px !important;
  width: 80px;
  height: 80px;
  background-image: url('./images/cover.jpg');
  box-shadow: 0px 0px 10px black;
  -moz-box-shadow: 0px 0px 10px black;
  overflow: hidden;
}



@media (min-width: 360px){
  .butterfly {
    width: 350px;
  }

  .result {
    font-size: 20px;
  }

}


@media (min-width: 650px) {

  .title, .show {
    width: 95%;
    margin: 0px auto;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
  }


  .memory {
    font-size: 96px;
  }

  .insects {
    font-size: 48px;
  }

  .butterfly {
    width: 500px;
  }

  .start-button {
    font-size: 24px;
    width: 200px;
    padding: 10px;
  }

  .links-box {
    width: 50%;
    max-width: 400px;
  }

  .show {
    visibility: hidden;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px 0px 0px 0px;
    width: 95%;
    position: relative;
    animation: start-game 0.9s linear 0.4s 1 normal forwards;
     
   }

   .result {
    margin: 0px auto 40px auto;
  }

   
   @keyframes start-game {
     0% {
       visibility: visible;
       height: 0px;
     }
     100% {
       visibility: visible;
       height: 1190px;
     }
     
   }
  

  .result {
    margin-bottom: 70px;
  }

  .gameboard {
    width: 600px;
    margin-bottom: 39px;
    
  }

  .card {
    width: 140px;
    height: 140px;
  }

}

@media (min-width: 1450px) {

  .hide {
    overflow: hidden;
    animation: game 0.4s linear 0s 1 normal forwards;
    
  }
  
  @keyframes game {
    0% {
      height: 758px;
    }
    100% {
      height: 0px;
    }
  }
  
  .show {
   visibility: hidden;
   overflow: hidden;
   background-color: rgba(0, 0, 0, 0.7);
   padding: 20px 0px 0px 0px;
   width: 95%;
   animation: start-game 0.8s linear 0.4s 1 normal forwards;
    
  }
  
  @keyframes start-game {
    0% {
      visibility: visible;
      height: 0px;
    }
    100% {
      visibility: visible;
      height: 1180px;
    }
    
  }
  .gameboard {
    width: 1296px;
    margin-bottom: 50px;
  }

  .card {
    width: 200px;
    height: 200px;
    margin: 8px;
  }

  .result {
    font-size: 26px;
  }
}

@media (min-height: 1100px) {
  footer {
    height: 500px;
  }
}

@media (min-height: 1600px) {
  footer {
    height: 1100px;
  }
}